<!DOCTYPE html>
<html>
	<head>
		<title>Dot Game</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto"
		/>
	</head>
	<body>
		<main id="game-playground">
			<div class="controller--container">
				<div class="controller--main">
					<h1 class="controller--main-points">
						Points: <span id="points">0</span>
					</h1>
					<button id="start-btn" class="controller--main-button">Start</button>
				</div>
				<div id="slider" class="slider">
					<input
						id="slider-dial"
						class="slider-dial"
						type="range"
						min="10"
						max="100"
						value="1"
					/>
					<label class="speed-title"
						>Speed <span id="speed-value">10</span></label
					>
				</div>
			</div>
			<h1 class="game-state--paused">Game is currently paused</h1>
		</main>

		<script src="/index.js"></script>
	</body>
</html>
