<!DOCTYPE html>
<html>
	<head>
		<title>Dot Game</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto"
		/>
	</head>
	<body>
		<main>
			<div class="controller--container">
				<div class="controller--main">
					<h1 class="controller--main-points">
						Points: <span id="points">0</span>
					</h1>
					<button id="start-btn" class="controller--main-button">Start</button>
				</div>
				<div class="slider" id="slider">
					<div class="slider-dial"></div>
					<p class="speed-title">Speed <span id="speed"></span></p>
				</div>
			</div>
			<div id="game-playground"></div>
		</main>
		<script src="/index.js"></script>
	</body>
</html>
