.controller {
	&--container {
		border: 2px solid;
		padding: 2rem;
		position: relative;
		background-color: $secondary;
		z-index: 2;
		opacity: 95%;
	}

	&--main {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-points {
			flex: 1 0 auto;
		}
		&-button {
			flex: 0 0 15%;
			background-color: transparent;
			font-size: 1.5rem;
			height: 4.5rem;
			box-shadow: 0.25rem 0.25rem gray;
			cursor: pointer;
			margin-right: 1rem;
			transition: all 0.5s ease;
			background-color: $primary;
			color: $background;

			&:hover {
				background-color: $ternary;
				border-color: transparent;
			}
		}
	}
}

.slider {
	&-dial {
		width: 100%;
		-webkit-appearance: none;
		height: 7px;
		background: $contrast;
		border-radius: 5px;
		margin-bottom: 1rem;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: 1px solid $contrast;
			height: 36px;
			width: 16px;
			border-radius: 3px;
			background: $background;
			cursor: pointer;
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
		}
	}
}

.speed-title {
	font-weight: bold;
	display: block;
}
