.controller {
	&--container {
		border: 2px solid;
		padding: 2rem;
		position: relative;
		background-color: white;
		z-index: 2;
	}

	&--main {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-points {
			flex: 1 0 auto;
		}
		&-button {
			flex: 0 0 15%;
			background-color: transparent;
			font-size: 1.5rem;
			height: 4.5rem;
			box-shadow: 1.7px 2.9px 1.7px -36px rgba(0, 0, 0, 0.172),
				5.8px 9.6px 5.8px -36px rgba(0, 0, 0, 0.265),
				26px 43px 26px -36px rgba(0, 0, 0, 0.44);
			cursor: pointer;
			margin-right: 1rem;
		}
	}

	&--speed-slider {
		width: 10px;
		height: 25px;
		border-radius: 3px;
		position: relative;
		left: 10px;
		top: -10px;
		background: black;
		cursor: pointer;
	}
}

.slider {
	&-dial {
		width: 100%;
		-webkit-appearance: none;
		height: 7px;
		background: black;
		border-radius: 5px;
		margin-bottom: 1rem;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: 1px solid #000000;
			height: 36px;
			width: 16px;
			border-radius: 3px;
			background: #ffffff;
			cursor: pointer;
			box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
		}
	}
}

.speed-title {
	font-weight: bold;
	display: block;
}
