.dot {
	display: inline-block;
	position: absolute;
	margin: 0;
	border: 2px solid black;
	border-radius: 50%;
	top: 0;
	cursor: pointer;
	z-index: -1;
}

#game-playground {
	position: relative;
	z-index: 1;
	min-height: 100vh;
}
