$background: white;
$primary: magenta;
$secondary: lawngreen;

body {
	margin: 0;
	padding: 0;
	font: normal 20px 'Roboto', sans-serif;
}

@import './controller-styles.scss';
@import './game-styles.scss';
